<!-- game-creator.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Friending - Game Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Game Creator Page</h1>
    <h2>Players:</h2>
    <ul id="players-list"></ul>
    <h2>Activities:</h2>
    <ul id="activities-list"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>